<!DOCTYPE html>
{% autoescape false %}
<html>
  <head lang="en">
  <meta charset="UTF-8">
  <title>Oh no!</title>
  

    <link rel="stylesheet" href="/static/css/styles_login.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
<body id="b">
    <div id="root">
        <div id="login" class="card">
            <h5 id="h" class="card-header">Login</h5>
            <div class="card-body">
                <form action="/" class="">
                    {% if get_flashed_messages() %}
                        {% for message in get_flashed_messages() %}
                            <h9>{{ message }}</h9>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input id="e" name="email" placeholder="Email" type="text" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password:</label>
                        <input id="p" name="password" placeholder="Password" type="password" class="form-control" value="">
                    </div>
                    <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                    <p>Don't have an account?  <a id="anc" href="/signup">Register</a></p>
                   
                </form>
            </div>
        </div>
    </div>
    
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
{% endautoescape %}
</html>


