<!DOCTYPE html>
{% autoescape false %}
<html>
  <head lang="en">
  <meta charset="UTF-8">
  <title>Oh no!</title>
  

    <link rel="stylesheet" href="/static/css/styles_post.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
<body>
<div id="root">
  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">Messenger</a>
    <a class="nav-item nav-link" id="pr" href="/profile">Profile</a>
    <a class="nav-item nav-link" id="po" href="/posts">Posts</a>
    <a class="nav-item nav-link" id="se" href="/search">Search</a>
    <a class="nav-item nav-link" id="lo" href="/logout">Log out</a>
</nav>

  <div id="rowd" class="row">
    
    <div class="col" id="posts">
      <label id="la">Posts: </label>
      {% for post in posts %}
      <div id="content-section">
        <div id="metadata">
            <h12>By {{ post[1] }}</h12>
        </div>
        <p id="post">{{ post[0]}}</p>
      </div>
      {% endfor %}
    </div>
    
    <div class="col" id="write">
      <form method="POST">
        <label id="l">Write Post:</label>
        <textarea class="form-control ml-1 shadow-none textarea" id="ta" name="post"></textarea>
        <input type="submit" value="Submit Post" class="btn btn-primary" id="btn" />
      </form>

    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
{% endautoescape %}
</html>