<!DOCTYPE html>
{% autoescape false %}
<html>
  <head lang="en">
  <meta charset="UTF-8">
  <title>Oh no!</title>
  

    <link rel="stylesheet" href="/static/css/styles.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
<body id="b">
   <div id="root">


    <nav id="nav"class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
      <a class="navbar-brand" href="#">Messenger</a>
      <a class="nav-item nav-link" id="pr" href="/profile">Profile</a>
      <a class="nav-item nav-link" id="po" href="/posts">Posts</a>
      <a class="nav-item nav-link" id="se" href="/search">Search</a>
      <a class="nav-item nav-link" id="lo" href="/logout">Log out</a>
    </nav>
    
     <div id="header"> 
       <h1 id="h">Messenger</h1> 
      </div>

      <p id="msg">
        {% if current_user.is_authenticated %}
          <h8>Hi {{ current_user.email.split('@')[0] }}! Have a Great and Secure Day!</h8>
        {% else %}
          <h9>Not Logged In.</h9>
        {% endif %}
      </p>
    
      <form method="GET">
        <div class="form-group row" id="search_div">
          <input type="text" class="form-control form-control-lg" id="search_bar" placeholder="Search for post..." name="input">
        </div>
        <input type="submit" class="btn btn-primary btn-lg" id="search_btn" value="Search">
      </form>

      <div id="posts">
        {% if not search_query %}
          <h3></h3>
        {% else %}
          {% if posts %}
            <h3>Showing posts containing "{{ search_query }}":</h3>
          {% else %}
            <h3>Unfortunately, there are no posts containing "{{ search_query }}"</h3>
          {% endif %}
        {% endif %}

        {% for post in posts %}
          <div id="content-section">
            <div id="metadata">
              <h9>By {{ post[1] }}</h9>
            </div>
          <p id="post">{{ post[0]}}</p>
          </div>
        {% endfor %}
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
{% endautoescape %}
</html>