#root {
    text-align: center;
  }


#header{
    margin:200px auto 50px;
}

#search_div{
    margin: auto;
    width:60%;
    
}
#search_btn{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 10%;
    
}

#post {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(187, 138, 138, 0.973);
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}

 
#anc{
    text-decoration: none;
}
#anc:hover{
    text-decoration: underline;
}