#root {
    text-align: center;
  }
#b{
    background-color: #F7F7F7;
}

#header{
    margin:150px auto 30px;
}

#msg{
    margin-bottom: 30px;
}

#search_div{
    margin: auto;
    width:60%;
    
}
#search_btn{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 10%;
    
}

 
#anc{
    text-decoration: none;
}
#anc:hover{
    text-decoration: underline;
}

#po {
    color: whitesmoke;
}

#pr {
    color: whitesmoke;
}

#lo {
    color: whitesmoke;
}

#se {
    color: whitesmoke;
}
